@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 20px;
  margin: 0;
  background-color: #ffffff;
  background-image: url('../public/descarga3.jpg');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2, h1{
  font-family: "Oswald";
}
